<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.3" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net461" version="1.0.3" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net461" />
  <package id="NuGet.Build.Tasks.Pack" version="6.11.0" targetFramework="net461" developmentDependency="true" />
  <package id="Prism.Core" version="8.1.97" targetFramework="net461" />
  <package id="Prism.Wpf" version="8.1.97" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Varian.ESAPI_15.6" version="15.6.6.52" targetFramework="net461" developmentDependency="true" />
</packages>